[submodule "impcool_sol"]
	path = impcool_sol
	url = https://github.com/calebtt/impcool_sol.git
[submodule "PolarCode"]
	path = PolarCode
	url = https://github.com/calebtt/PolarCode.git
[submodule "DelayManagerProj"]
	path = DelayManagerProj
	url = https://github.com/calebtt/DelayManagerProj.git
